/* Slider */

// .slick-slider {}

.slick-list {
    position: relative;
    overflow: hidden;
    display : block;
    margin  : 0;
    padding : 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-track {
    display: flex;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    margin-left: 50px;
}

.slick-arrow {
    font-size: 0;
    width: 36px;
    height: 36px;
    border: none;
    background: url('../../images/icon/arrow-down-sign-to-navigate.png');
    cursor: pointer;
 
    .slick-hidden {
        display: none;
    }
}
.slick-prev{
    transform: rotate(180deg);  
     .history &{
        background: url('../../images/icon/arrow-prevsign-to-navigate.png');
        transform: rotate(0);
    }
}