/* Slider */

// .slick-slider {
//     overflow-y: hidden;
// }

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    justify-content: space-between;
    // gap: 0 20px;
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    margin: 10px 100px;
    width: 100%;
}

.slick-arrow {
    font-size: 0;
    width: 36px;
    height: 36px;
    border: none;
    background: url('../../images/icon/arrow-down-sign-to-navigate.png') no-repeat center;
    cursor: pointer;
    .slick-hidden {
        display: none;
    }
}
.slick-prev{
    transform: rotate(180deg);  
    position: absolute;
    bottom: 0;
     .history &{
        background: url('../../images/icon/arrow-prevsign-to-navigate.png') no-repeat center;
        transform: rotate(0);
    }
}